body {
     font-family: 'Helvetica-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 16px;
     font-weight: 300;
     color: #3d455c;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}


p {
     font-family: 'Helvetica-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 12px;
     font-weight: 300;
}


/* this is styling for the search bar in the database table*/
#example_filter input {
        border-radius: 12px;
}


h2 {
    font-size: 30px;
    font-family: Helvetica Neue
}

h3 {
    font-family: 'Helvetica-Light';
    font-size: 18px
}

h4 {
    font-size: 18px;
    font-family: Helvetica Neue
}

h5 {
    font-size: 22px;
    font-family: Helvetica Neue
}

#fasta {
    font-family: Courier;
    font-size: 16px
}

#bulletpoint {
    font-family: 'Helvetica-Light';
    font-size: 18px
    list-style-type: none;

}
.table td, .table th {
    padding: 0;
    vertical-align: top;
    border-top: 0px solid;
    font-size:16px;
}

